<div class="container mt-5">
    <div class="row tm-content-row">
        {{#if err}}
..          <div class="alert alert-danger m-auto" role="alert">
            Đơn hàng không tồn tại
            </div>
        {{/if}}
    <div class="row tm-content-row m-auto">
        <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 tm-block-col">
            <div class="tm-bg-primary-dark tm-block tm-block-search">
                <h2 class="tm-block-title">Tìm kiếm</h2>
                <form action="/search-order">
                    <input class = "form-control validate" type="text" name="search" placeholder="Nhập id đơn hàng cần tìm">
                    <button type="submit" class="btn btn-primary btn-search"><i class="fas fa-search"></i></button>
                </form>
            </div>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 tm-block-col">
                <h2 class="tm-block-title">Danh sách đơn hàng</h2>
            <div class="tm-bg-primary-dark tm-block tm-block-taller tm-block-scroll">
                <table class="table table-striped ">
                    <thead>
                        <tr>
                            <th scope="col">ID Đơn hàng</th>
                            <th scope="col">Ngày lập</th>
                            <th scope="col">Tổng tiền</th>
                            <th scope="col">Thuế</th>
                            <th scope="col">Seller</th>
                            <th scope="col">Xóa</th>
                        </tr>
                        {{#each this.listorder}}
                            <tr>                             
                                <td scope="col" class="tm-order"><a href="/edit-order?id={{id}}" style="color:white;">{{id}}</a></td>
                                <td scope="col">{{ngaylap}}</td>
                                <td scope="col">{{tongtien}}</td>
                                <td scope="col">{{thue}}</td>
                                <td scope="col">{{id_seller}}</td>

                                <td scope="col">
                                    
                                    <a href="/delete-order?id={{id}}" class="tm-product-delete-link">
                                        <i class="far fa-trash-alt tm-product-delete-icon"></i>
                                    </a>
                                </td>
                            </tr>
                            
                        {{/each}}
                    </thead>
                </table>
                <!-- table container -->
                
            </div>
            <br>
            <a href="cart" class="btn btn-primary btn-block text-uppercase mb-3">Thêm đơn hàng mới</a>
        </div>
        
<script src="js/jquery-3.3.1.min.js"></script>
<!-- https://jquery.com/download/ -->
<script src="js/bootstrap.min.js"></script>
<!-- https://getbootstrap.com/ -->
<script>
    $(function () {
        $(".tm-order").on("click", function () {
            window.location.href = "edit-order";
        });
    });
</script>